<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="https://mdbootstrap.com/docs/jquery/forms/contact/">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://mdbootstrap.com/docs/jquery/content/icons-list/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
<body style="background-color:#f5410ba3">
    <div class="container-fluid">
    <h1 style="font-family:courier;background-color:yellow;" class="text-center"> Insta handle popularity </h1><br>
    <div class="row">
	<div class="col-md-8">
	<div class="card shadow" style="width:100%; margin-top: 175px; margin-left: 285px;"> <br><br><br><br>      
    <center><form method="POST", action="{{url_for('home')}}" style="background-color: #f39e3a">
    <div class="logo" class="center"><img src="static\logo.png"></div><br>
    <u><h1 class="text-center" style="font-style: oblique;font-weight: bolder;">INSTALOADER BY DAUR ANALYTICS</h1></u><br> 
           <b style="font-family:courier;background-color:powderblue;"class="text-center">
            First account :  <input type="text", name='a' class="text-center"><br><br>
            Second account : <input type="text", name='b'> <br><br>
            Third account :  <input type="text", name='c' > <br><br>
            Fourth account : <input type="text", name='d'> <br><br>
            Fifth account :  <input type="text", name='e'> <br><br><br></b>
            <input style="font-family:courier;background-color:yellowgreen;" type="submit" , value='compare!'><br>
        </form>
    </center>
    </div>
    </div>
    </div>
    </div>
</body>
</head>
</html>
